<link href="https://fonts.googleapis.com/css?family=Sarabun" rel="stylesheet">

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


input:focus, select {
  background-color: rgb(126, 182, 240);
  width: 5%;
  padding: 8px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: white;
  weight: 700;
  font-size: 15px;
  /* box-sizing: border-box; */
}


label {
  padding: 5px;
}

.product-attribute {
  float: left;
  display: inline;
  width: 49%;
}

.ui.huge.menu {
  background-color: rgb(1, 8, 20) !important;
}

div.content {
  background: rgb(219, 245, 244) !important;
  /* border-style: solid !important; */
 /* border-color: rgb(219, 245, 244) !important; */
 border-radius: 7px !important;
}

img {
max-width: 100% !important;
max-height: 100% !important;
width: auto !important;

display: block !important;
margin: 0 auto !important;
}

#soldout {
  font-size: 15px;
  background-color: red;
  border-radius: 5px;
  padding: 2px;
  color: white;
  margin: 3px;
}

#product-info-main-container {
  display: flex;
  position: fixed;
  top: 20vh; left: 27vw;
  text-align: center;
  align-items: flex-start;
  /* padding: 40px; */
}

#product-info-main-container div {
  font-family: 'Sarabun', sans-serif;
  margin: 20px;
}

#product-info-name {
  font-size: 40px;
  padding-bottom: 10px;
  /* position: absolute; */
  /* right: 350px;
  top: 150px; */

}

#product-info-title {
  font-size: 23px;
  padding-bottom: 10px;
  /* position: absolute; */
  /* right: 330px; */
  /* text-align: center; */
  /* top: 190px; */
  font-family: 'Sarabun', sans-serif;

}
#product-info-price {
  font-size: 20px;
  /* position: absolute; */
  /* top: 230px; */
  /* text-align: center; */
  margin-right: 120px !important;
}

#product-info-description {
  font-size: 15px;
  /* position: absolute; */
  max-width: 30vw;
  /* right:0px;
  top: 300px; */
  /* text-align: center; */
}

#product-info-image {
  font-size: 20px;
  display: inline !important;
  /* position: absolute; */
  /* padding: 2px; */
  margin-right: 80px !important;
  margin-top: 80px !important;
  /* bottom: 450px; */


}

.ui.dropdown {
  width: 70px !important;
  height: 30px !important;
  font-size: 12px !important;
  margin: 2px !important;

}

button.ui.green.button {
  font-size: 12px !important;
  margin: 2px !important;
}
